<div style="margin-left: 30px; margin-right: 30px" ng-app="clip-two" ng-controller="BordxReOpenManagementCtrl as BordxReOpenManagementController" ng-init="loadInitailData()">
    <section id="page-title">
        <div class="row">
            <div class="pull-left">
                <h1 class="mainTitle TitleModifier">{{'pages.bordxReOpenManagement.title' | translate}}</h1>
                <!--<span class="mainDescription TitleModifier">{{'pages.bordxReOpenManagement.mainDescription' | translate}}</span>-->
            </div>
            <div class="pull-right">
                <button type="button" class="btn btn-twitter" ng-click="openSearchPopup()">
                    <i class="fa fa-search"></i>
                    | {{'pages.bordxReOpenManagement.searchBordereaux' | translate}}
                </button>

            </div>
        </div>
    </section>
    <script type="text/ng-template" id="BordxSearchPopup">
        <style>
            .ngdialog-content {
                width: 900px !important;
                height: 450px !important;
            }

            .grid {
                height: 250px !important;
            }

            .ScrollHeight {
                max-height: 400px !important;
                max-with: 850px !important;
                /*border: 1px solid red;*/
                overflow: auto !important;
            }

            table {
                table-layout: auto;
                border-collapse: collapse;
                width: 100%;
            }

            .ui-grid-pager-panel {
                text-align: right;
                box-sizing: border-box !important;
            }

            .ui-grid-header-cell .ui-grid-cell-contents {
                text-align: center;
            }

            .columCss {
                text-decoration: none;
            }

            .ui-grid-top-panel {
                font-weight: 400 !important;
            }

            .ui-grid-canvas {
                text-align: center;
                font-size: 12px;
            }

            .input-sm {
                height: 25px !important;
                font-size: 11px;
            }

            .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
                padding-right: 5px;
                padding-left: 5px;
            }
        </style>
        <div>
            <h3 class="">{{'pages.bordxReOpenManagement.searchBordereaux' | translate}}</h3>
            <!--<form>-->
            <div name="myForm" class="my-form">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>{{'pages.bordxReOpenManagement.bordxSearchPopup.commodityType' | translate}}</label>
                            <select ng-model="bordxSearchGridSearchCriterias.commodityTypeId" class="form-control input-sm" ng-change="loadProductsByCommodityTypetoBordxView()">
                                <option value="00000000-0000-0000-0000-000000000000" selected>{{'pages.bordxReOpenManagement.bordxSearchPopup.any' | translate}}</option>
                                <option ng-repeat="option in CommodityTypes" value="{{option.CommodityTypeId}}">{{option.CommodityTypeDescription}}</option>
                            </select>
                        </div>
                    </div>
                    <!--<div class="col-md-2">
        <div class="form-group">
            <label>Country</label>
            <select ng-model="bordxSearchGridSearchCriterias.countryId" class="form-control input-sm">
                <option value="00000000-0000-0000-0000-000000000000" selected>{{'pages.bordxReOpenManagement.bordxSearchPopup.any' | translate}}</option>
                <option ng-repeat="option in countries" value="{{option.Id}}"
                        ng-selected="bordxbordxSearchGridSearchCriterias.countryId==option.Id">
                    {{option.CountryName}}
                </option>
            </select>
        </div>
    </div>-->
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>{{'pages.bordxReOpenManagement.bordxSearchPopup.insurer' | translate}}</label>
                            <select class="form-control  input-sm  input-sm" ng-model="bordxSearchGridSearchCriterias.insureId"
                                    ng-class="validate_reInsurer" name="insurerId"
                                    ng-change=""
                                    ng-options="n.Id as n.InsurerShortName for n in insurers">
                                <option value=""> {{'pages.bordxReOpenManagement.bordxSearchPopup.any' | translate}} </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>{{'pages.bordxReOpenManagement.bordxSearchPopup.reInsurer' | translate}}</label>
                            <select class="form-control  input-sm  input-sm" ng-model="bordxSearchGridSearchCriterias.reinsureId"
                                    ng-class="validate_reInsurer" name="reinsurerId"
                                    ng-change="GetBordxAllowedYearsAndMonthsProcess()"
                                    ng-options="n.Id as n.ReinsurerName for n in reinsurers">
                                <option value=""> {{'pages.bordxReOpenManagement.bordxSearchPopup.any' | translate}} </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">
                                {{'pages.policyCommonData.product' | translate}}
                            </label>
                            <select class="form-control  input-sm  input-sm" ng-model="bordxSearchGridSearchCriterias.productId"
                                    ng-class="validate_product" name="productId"
                                    ng-change="GetBordxAllowedYearsAndMonthsProcess();"
                                    ng-options="n.Id as n.Productname for n in products">
                                <option value=""> {{'common.customText.pleaseSelect' | translate}} </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group ">
                            <label>{{'pages.bordxReOpenManagement.bordxSearchPopup.year' | translate}}</label>
                            <select ng-model="bordxSearchGridSearchCriterias.year" class="form-control input-sm">
                                <option value="0" selected>{{'pages.bordxReOpenManagement.bordxSearchPopup.any' | translate}}</option>
                                <option ng-repeat="option in bordxAvailableYears" value="{{option}}">{{option}}</option>
                            </select>
                        </div>

                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>{{'pages.bordxReOpenManagement.bordxSearchPopup.month' | translate}}</label>
                            <select ng-model="bordxSearchGridSearchCriterias.month" class="form-control input-sm">
                                <option value="0" selected>Any</option>
                                <option value='1'>Janaury</option>
                                <option value='2'>February</option>
                                <option value='3'>March</option>
                                <option value='4'>April</option>
                                <option value='5'>May</option>
                                <option value='6'>June</option>
                                <option value='7'>July</option>
                                <option value='8'>August</option>
                                <option value='9'>September</option>
                                <option value='10'>October</option>
                                <option value='11'>November</option>
                                <option value='12'>December</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class=" col-md-12 form-group">
                            <br />
                            <label></label>
                            <button class="btn btn-xs btn-primary" ng-click="bordxSearchGridSearchReset()"><i class="fa fa-search"></i>&nbsp;{{'common.button.reset' | translate}}</button>
                            <button class="btn btn-xs btn-primary" ng-click="RefreshSearchGridData()"><i class="fa fa-search"></i>&nbsp;{{'common.button.search' | translate}}</button>

                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="grid" ui-grid-pagination ui-grid="bordxSearchGrid">
                            <div class="grid-msg-overlay" ng-hide="bordxSearchGrid.data.length>0 && bordxSearchGridloadAttempted">
                                <div class="msg">
                                    <span>{{'common.grid.noData' | translate}}</span>
                                </div>
                            </div>
                            <div class="grid-msg-overlay" ng-hide="!bordxSearchGridloading">
                                <div class="msg">
                                    <span>
                                        {{'common.grid.loading' | translate}}
                                        <i class="fa fa-spinner fa-spin"></i>
                                    </span>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <!--</form>-->
                </div>
            </div>

    </script>

    <div class="panel-body">
        <h4 class="text-muted" ng-show="currentBordxYear">
            {{'pages.bordxReOpenManagement.inforMessages.showingPolicies' | translate}} {{currentBordxCommodity}}/{{currentBordxCountry}}
            &nbsp{{currentBordxYear}} - {{currentBordxMonth}} -# {{currentBordxNumber}}
        </h4>
        <div class="watermark" ng-hide="!policyGridloading">
            <div class="msg">
                <span>
                    {{'common.grid.loading' | translate}}
                    <i class="fa fa-spinner fa-spin"></i>
                </span>
            </div>
        </div>
        <table ng-table="policyTable" class="table table-bordered table-striped ">
            <thead class="ngTableheader">
                <tr>
                    <th>{{'pages.bordxReOpenManagement.bordxSearchPopup.commodityType' | translate}}</th>
                    <th>{{'pages.bordxReOpenManagement.policyNo' | translate}}</th>
                    <th>{{'pages.bordxReOpenManagement.dealer' | translate}}</th>
                    <th>{{'pages.bordxReOpenManagement.item' | translate}}</th>
                    <th>{{'pages.bordxReOpenManagement.premium' | translate}}</th>
                    <th>{{'pages.bordxReOpenManagement.date' | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in $data">
                    <td>{{row.CommodityType}}</td>
                    <td>{{row.PolicyNo}}</td>
                    <td>{{row.Dealer}}</td>
                    <td>{{row.RefNo}}</td>
                    <td align="right">{{row.Premium.toFixed(2)}}</td>
                    <td>{{row.PolicySoldDate}}</td>
                </tr>

            </tbody>
        </table>

    </div>
    <div class="row">
        <div class="col-md-12">

            <div class="watermark" ng-show="!policyTable.data.length && policyGridloadAttempted">{{'pages.bordxReOpenManagement.errorMessages.nodataAvailable' | translate}}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <input type="button" class="btn btn-primary pull-right" ng-click="ReopenBordx()"
                   value="{{'pages.bordxReOpenManagement.reopen' | translate}}" />

            <!--<input type="button" class="btn btn-primary pull-right" ng-click="viewPolicies()" style="margin-right:15px"
                   value="view" />-->
        </div>
    </div>
    <br /><br />
</div>
<style>
    .pagination {
        margin-top: 0 !important;
    }

    .ngTableheader {
        text-decoration: none;
        font-weight: 300 !important;
        font-size: 12px !important;
        text-align: center;
    }

    #page-title {
        padding: 25px 0;
    }

    .watermark {
        /*position: absolute;*/
        top: 50%;
        font-size: 15px;
        width: 100%;
        text-align: center;
        margin-top: 20px;
        z-index: 1000;
    }
    /*
       This is the background of our overlay. We need it to be
       absolutely positioned within the grid, and fill from
       top to bottom, and the full width. It will also have
       a black background with 40% opacity.
    */
    .grid-msg-overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.4);
    }

        /*
      This guy will contain our message. We want it centered
      so it's positioned absolutely with percentage-based
      offsets and dimensions. It also has some basic border
      stuff and most important is using "display: table" so
      we can vertically center its contents.
    */
        .grid-msg-overlay .msg {
            opacity: 1;
            position: absolute;
            top: 20%;
            left: 20%;
            width: 60%;
            height: 50%;
            background-color: #eee;
            border-radius: 4px;
            border: 1px solid #555;
            text-align: center;
            font-size: 24px;
            display: table;
        }

            /*
      Lastly this is the actual message text. It uses
      display: table-cell so the vertical alignment
      works properly.
    */
            .grid-msg-overlay .msg span {
                display: table-cell;
                vertical-align: middle;
            }
</style>