<div ng-app="LFA" ng-controller="ClaimBatchingCtrl as ClaimBatchingController" ng-init="">

    <style>
        .my-form {
            -webkit-transition: all linear 0.5s;
            transition: all linear 0.5s;
            background: transparent;
        }

        .fixed-height {
            height: 250px;
        }

        .ScrollHeight {
            max-height: 75px;
            /*border: 1px solid red;*/
            overflow: auto;
        }

        .error {
            color: red;
        }

        .grid {
            height: 200px;
        }

        .ui-grid-render-container-body {
            position: absolute;
            margin-left: 31px;
        }

        .ui-grid-grid-footer {
            position: absolute;
            bottom: 25px;
        }
    </style>

    <section id="page-title">
        <div class="row">
            <div class="col-sm-8">
                <h1 class="mainTitle TitleModifier">CLAIM BATCHING</h1>
                <span class="mainDescription TitleModifier">You can batch claim here.</span>
            </div>
            <div class="col-md-4">
                <span class="btn btn-twitter pull-right" ng-click="CustomerSearchPopup()" ng-disabled="Customer.CustomerSearchDisabled">
                    <i class="fa fa-search"></i>
                    | Search
                </span>
                
            </div>
        </div>
    </section>

    <div name="myForm" class="my-form">

        <div class="row">

            <div class="col-md-6">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">
                            Country
                        </label>
                        <select class="form-control" ng-model="Country.Id" name="Id"
                                ng-options="n.Id as n.CountryName for n in Countries"
                                ng-change="SetCountryValues()">
                            <option value=""> &lt;&lt; New &gt;&gt; </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">
                            Dealer
                        </label>
                        <select class="form-control" ng-model="Country.Id" name="Id"
                                ng-options="n.Id as n.CountryName for n in Countries"
                                ng-change="SetDealerValues()">
                            <option value=""> &lt;&lt; New &gt;&gt; </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">
                            Insurer
                        </label>
                        <select class="form-control input-sm" ng-model=""
                                ng-change="">
                            <option value=""> Please Select </option>
                            <option ng-repeat="" value=""
                                    ng-selected="">
                                {{option.CommodityTypeDescription}}
                            </option>

                        </select>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">
                            Re-Insurer
                        </label>
                        <select class="form-control input-sm" ng-model=""
                                ng-change="">
                            <option value=""> Please Select </option>
                            <option ng-repeat="" value=""
                                    ng-selected="">
                                {{option.CommodityTypeDescription}}
                            </option>

                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">
                            Batch No
                        </label><span class="error">*</span>
                        <input type="text" class="form-control" ng-model="" name="BatchNo">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">
                            Group No
                        </label><span class="error">*</span>
                        <input type="text" class="form-control" ng-model="" name="GroupNo">
                    </div>
                </div>
                
                <div class="col-md-3 col-md-offset-9">
                    <br />
                    <button class="btn btn-primary  btn-info" style="width:100%" ng-disabled="PartSaveBtnDisabled" ng-click="savePart()">
                        <!--{{Part.Id=='' ? 'Save':'Update'}}--> Save
                        <i ng-class="PartSaveBtnIconClass"></i>
                    </button>
                </div>

                </div>

            <div class="col-md-6">
                <table id="partsTable" class="table table-bordered table-striped ">
                    <thead class="ngTableheader">
                        <tr>
                            <th>Batch No</th>
                            <th>Group No</th>
                           <!-- <th>Claim</th>-->

                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td align="center">01</td>
                            <td align="center">25</td>
                            <!--<td align="center">New</td>-->

                            <td align="center">
                                <button class="btn-xs btn-primary" ng-click="viewClaimBatchingPopup()">Assigned Claim </button>
                            </td>
                        </tr>
                        <!--<tr ng-show="parts==null">
                <td align="center" colspan="5"><h4>No parts found.</h4></td>
            </tr>-->
                    </tbody>
                </table>
            </div>

           

        </div>
    </div>


    <script type="text/ng-template" id="popUpClaimBatching">
        <style>
            .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
                padding-right: 5px;
                padding-left: 5px;
            }

            .ngdialog-content {
                width: 900px !important;
                height: 420px !important;
            }

            #availableclaimTable > tbody > tr > td {
                height: 30px;
                padding: 0px;
                border-top: 0px;
            }

            #selectedclaimTable > tbody > tr > td {
                height: 30px;
                padding: 0px;
                border-top: 0px;
            }
        </style>

        <h3>Assigned Claim</h3>
        <div ng-form="myForm" class="my-form">
            <div class="row">              
                    <!--<p>Assigned Claim</p>-->
                    <div class="col-md-6" style="height:340px">
                        <p>Available Claim</p>
                        <table id="availableclaimTable" class="table table-bordered table-striped ">
                            <thead class="ngTableheader">
                                <tr>
                                    <th>Claim No</th>
                                    <th>Claim Amount</th>
                                    <th>Authorized Amount</th>
                                    <th>Paid Amount</th>
                                    <th></th>

                                </tr>
                            </thead>
                            <tbody>

                                <tr >
                                    <td align="center">02</td>
                                    <td align="center">1200</td>
                                    <td align="center">1000</td>
                                    <td align="right">500</td>

                                    <td align="center">
                                        <!--<button class="btn-xs btn-danger" ng-click="deletePartPrice(p.Id)"><i class="fa fa-trash"></i></button>-->
                                        <input id="Checkbox1" type="checkbox" />
                                    </td>
                                </tr>
                                <!--<tr ng-show="partPrices.length==0">
                                    <td align="center" colspan="5"><h4>No prices found.</h4></td>
                                </tr>-->
                            </tbody>
                        </table>

                        <br />
                        <br />
                        <div class="col-md-3 col-md-offset-9">
                            <br />
                            <button class="btn btn-primary  btn-info" ng-disabled="" ng-click="">
                                <!--{{Part.Id=='' ? 'Save':'Update'}}--> Add>>
                                <i ng-class=""></i>
                            </button>
                        </div>

                    </div>

                <div class="col-md-6" style="height:340px">
                    <p>Selected Claim</p>
                    <table id="selectedclaimTable" class="table table-bordered table-striped ">
                        <thead class="ngTableheader">
                            <tr>
                                <th>Claim No</th>
                                <th>Claim Amount</th>
                                <th>Authorized Amount</th>
                                <th>Paid Amount</th>
                                <th></th>

                            </tr>
                        </thead>
                        <tbody>

                            <tr >
                                <td align="center">05</td>
                                <td align="center">5000</td>
                                <td align="center">4000</td>
                                <td align="right">2000</td>

                                <td align="center">
                                    <button class="btn-xs btn-danger" ng-click=""><i class="fa fa-trash"></i></button>
                                </td>
                            </tr>
                            <!--<tr ng-show="partPrices.length==0">
                                <td align="center" colspan="5"><h4>No prices found.</h4></td>
                            </tr>-->
                        </tbody>
                    </table>
                </div>

                </div>              

            
        </div>

    </script>

</div>
