<div ng-app="LFA" ng-controller="DashboardCtrl as DashboardController" ng-init="userValidityCheck()">
    <!-- start: DASHBOARD TITLE -->
    <section id="page-title" class="padding-top-15 padding-bottom-15">
        <div class="row">
            <div class="col-sm-7">
                <h1 class="inline-block">{{greetings}}</h1>
                <h1 class="mainTitle inline-block" translate="dashboard.WELCOME">
                    <!--<h1 class="inline-block">{{dashbordwelcomeName}}</h1>-->
                    <!--<h1 class="mainTitle inline-block" translate="dashboard.WELCOME" translate-values="{ appName: app.name }">-->
                    {{mainTitle;}}
                </h1>
                <h1 class="mainTitle inline-block"> &nbsp;{{'dashboard.impetus' | translate }}</h1>
            </div>
        </div>
    </section>
    <!-- end: DASHBOARD TITLE -->
    <!-- start: FEATURED BOX LINKS -->
    <div class="container-fluid container-fullw bg-white">


        <div class="row">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#policy">{{'dashboard.policyPerformance' | translate }}</a></li>
                <li><a data-toggle="tab" href="#claim" ng-click="loadClaimData()">{{'dashboard.claims' | translate }}</a></li>

            </ul>
            <div class="tab-content">
                <div id="policy" class="tab-pane fade in active">


                    <div class="col-sm-4">
                        <h4>{{'dashboard.byWarranty' | translate }}</h4>
                        <p ng-show="warrentyChartAccess">* {{'dashboard.accessRestricted' | translate }}</p>
                        <p class="margin-top-20">
                            <div tc-chartjs-legend chart-legend="lineChart4"></div>
                        </p>
                        <div class="text-center margin-bottom-15">
                            <canvas class="tc-chart" height="175" tc-chartjs-pie chart-options="warrentyChartOptions" chart-data="warrentyChartData" chart-legend="lineChart4" width="250"></canvas>

                        </div>
                    </div>

                    <div class="col-sm-4">
                        <h4>{{'dashboard.byProduct' | translate }}</h4>
                        <p ng-show="productChartAccess">* {{'dashboard.accessRestricted' | translate }}</p>
                        <p class="margin-top-20">
                            <div tc-chartjs-legend chart-legend="lineChart2"></div>
                        </p>
                        <div class="text-center margin-bottom-15">

                            <canvas class="tc-chart" height="175" tc-chartjs-doughnut chart-options="productChartoptions" chart-data="productChartData" chart-legend="lineChart2" width="250"></canvas>

                        </div>
                    </div>

                    <div class="col-sm-4">
                        <h4>{{'dashboard.byMake' | translate }}</h4>
                        <p ng-show="makeChartAccess">* {{'dashboard.accessRestricted' | translate }}</p>
                        <div class="text-center margin-bottom-15">
                            <canvas ng-hide="makeChartAccess" class="tc-chart" height="250" tc-chartjs-radar chart-options="makeChartOptions" chart-data="makeChartData"></canvas>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <div class="col-sm-6">
                        <h4>{{'dashboard.byCountry' | translate }}</h4>
                        <p ng-show="countryChartAccess">* {{'dashboard.accessRestricted' | translate }}</p>
                        <div class="text-center margin-bottom-15">
                            <div google-chart chart="localchart"> </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <h4>{{'dashboard.byMonth' | translate }}</h4>

                        <p ng-show="monthlyChartAccess">* {{'dashboard.accessRestricted' | translate }}</p>
                        <div class="text-center margin-bottom-15">
                            <canvas ng-hide="monthlyChartAccess" class="tc-chart" height="200" tc-chartjs-line chart-options="monthChartOptions" chart-data="monthChatsData"></canvas>
                        </div>
                    </div>
                </div>
                <div id="claim" class="tab-pane fade in">
                    <div class="col-sm-4">
                        <h4>{{'dashboard.byClaimStatus' | translate }}</h4>
                        <p ng-show="claimStatusChartAccess">* {{'dashboard.accessRestricted' | translate }}</p>
                        <p class="margin-top-20">
                            <div tc-chartjs-legend chart-legend="lineChart3" style="width:175px"></div>
                        </p>
                        <div class="text-center margin-bottom-15">

                            <canvas class="tc-chart" height="175" tc-chartjs-doughnut chart-options="claimStatusChartOptions" chart-data="claimStatusChartData" chart-legend="lineChart3" width="250"></canvas>

                        </div>
                    </div>
                    <!--<div class="col-sm-4">
                        <h4>By Claim Invoice</h4>
                        <p ng-show="claimInvoiceChartAccess">* {{'dashboard.accessRestricted' | translate }}</p>
                        <p class="margin-top-20">
                            <div tc-chartjs-legend chart-legend="lineChart4" style="width:175px"></div>
                        </p>
                        <div class="text-center margin-bottom-15">

                            <canvas class="tc-chart" height="175" tc-chartjs-doughnut chart-options="claimInvoiceChartOptions" chart-data="claimInvoiceChartData" chart-legend="lineChart4" width="250"></canvas>

                        </div>
                    </div>-->
                </div>
            </div>
        </div>

    </div>
    <!-- end: FEATURED BOX LINKS -->
    <!-- start: FIRST SECTION -->
    <!-- end: FIRST SECTION -->
    <!-- start: SECOND SECTION -->

</div>
