
<script>

    $("#btn-Login").click(function () {
        location.href = "home_premium_display/buyingprocess";
        //return false;
    });

</script>
<hr />
<div ng-app="clip-two" ng-controller="homeLoginCtrl as tpaController" ng-init="LoadDetails()">
    <div class="col-md-1">
    </div>
    <div class="login-content">
        <div class="col-sm-5">
            <div class="heading">
                <i class="fa fa-file-text-o"></i>
                <div class="extra-wrap">
                    <h2>
                        New Customer
                    </h2>
                    <b>I am happy to register:</b>
                </div>
            </div>
            <div class="form-horizontal">
                <div class="form-group">
                    <label for="form-field-1" class="col-sm-2 control-label">
                        E-Mail:
                    </label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="form-field-1" placeholder="Your Email " ng-model="user.Email" ng-blur="checkEmails()">
                    </div>
                </div>
                <div class="form-group">
                    <label for="form-field-1" class="col-sm-2 control-label">
                        Confirm E-Mail:
                    </label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="form-field-1" placeholder="Confirm Your Email" ng-model="user.ConfirmEmail" ng-blur="checkEmails()">
                        <span style="color:#f81818" ng-show="confirmEmail">Oops.. Confirm E-mail Doesn't Match!</span>
                        <span style="color:#fe8021" ng-show="confirmEmail">Ahaa.. Your E-mail Address Is Already Registered..</span>
                    </div> 
                </div>
                <div class="form-group">
                    <label for="form-field-2" class="col-sm-2 control-label">
                        Password
                    </label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="form-field-2" placeholder="Password" ng-model="user.Password" ng-blur="checkPasswords()">
                    </div>
                </div>
                <div class="form-group">
                    <label for="form-field-2" class="col-sm-2 control-label">
                        Confirm Password
                    </label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="form-field-2" placeholder="Confirm Password" ng-model="user.ConfirmPassword" ng-blur="checkPasswords()">
                        <span style="color:#f81818" ng-show="confirmPassword">Oops! Passwords Missmatched!</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class=" col-sm-2"></div>
                    <div class=" col-sm-9">
                        <button class="btn btn-primary" type="button" ng-click="RegisterLogin()">
                            Create Account
                        </button>
                    </div>

                </div>



                <div class="clear">
                </div>
            </div>
        </div>
        <div class="login-content">
            <div id="login" class="col-sm-5">
                <div class="heading">
                    <i class="fa fa-key"></i>
                    <div class="extra-wrap">
                        <h2>
                            Returning Customer
                        </h2>
                        <b>I am a returning customer</b>
                    </div>
                </div>
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="form-field-1" class="col-sm-2 control-label">
                            E-Mail:
                        </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="form-field-1" placeholder="User Name" ng-model="userName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="form-field-2" class="col-sm-2 control-label">
                            Password
                        </label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control" id="form-field-2" placeholder="Password" ng-model="password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class=" col-sm-2"></div>
                        <div class=" col-sm-9">


                            <!--<button class="btn btn-success" onclick="   location.href  = '../STANDARD/index.html#/home/buyingprocess';" type="button" ng-click="loginAttempt()">
                                Login
                            </button>-->
                            <button type="button" class="btn btn-success" ng-click="loginAttempt()">
                                Login <i class="fa fa-arrow-circle-right"></i>
                            </button>
                            <button class="btn btn-primary" type="button">
                                Forget Password
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        
    </div>
</div>
<br />
<div class="col-md-12 center" style="padding-top: 50px"> <span>Design & Developed by Leftfield Genral Trading LLC.   © 2016-2020 www.LeftfieldServices.com</span> </div>