<!-- start: FORGOT -->
    <div ng-app="clip-two" ng-controller="loginForgetPasswordCtrl as forgetPasswordController" ng-init="ContinentalCheck()">

        <div class="logo-out-of-login-box " ng-show="loginBoxStyle.outerLogo">
            <div class="row">
                <div class="col-md-12" style="margin-top:-2px">
                    <div class="col-md-4">
                        <div class="logo">
                            <img ng-src="/TAS.Web/STANDARD/assets/images/LeftfieldAssuranceLogo.svg" alt="Loading..." class="img-responsive" style="width:170px" />
                        </div>
                    </div>
                    <!--<div class="col-md-8 " ng-show="tpaName=='leftfielddemo' || tpaName=='suranjika'">
                    <div class="logo pull-right">
                        <img ng-src="/TAS.Web/STANDARD/assets/images/hannover_re_logo.svg" alt="Loading..." class="img-responsive" style="width:200px;margin-right:47px;margin-top:50px" />
                    </div>
                </div>-->
                </div>
            </div>

        </div>

        <div class="row">
            <div class="{{loginBoxStyle.boxAlignClass}}">
                <div class="box-login" style="{{loginboxBackground}} ;border:{{loginBoxStyle.loginbox}}">

                    <div class="logo" ng-show="tpaName!='continental'">
                        <!--<img src="../images/Login_logo.png" />-->
                        <img ng-show="loginBoxStyle.outerLogo==false &&  tpaName!='leftfielddemo' " ng-src="data:image/JPEG;base64,{{TpaLogoSrc}}" alt="Loading..." class="img-responsive" />
                        <!--<img ng-show="tpaName=='leftfielddemo' || tpaName=='suranjika'" ng-src="/TAS.Web/STANDARD/assets/images/biov.svg" alt="Loading..." class="img-responsive" style="width:160px;" />-->
                        <!--<img ng-src="{{app.layout.logo}}" alt="{{app.name}}" />-->
                    </div>
                    <div class="logo" ng-show="tpaName=='continental'">
                        <img ng-show="loginBoxStyle.outerLogo==false" ng-src="/TAS.Web/STANDARD/assets/images/ContinentalNew.png" alt="Loading..." class="img-responsive" />
                    </div>
                    <!-- start: FORGOT BOX -->

                    <div class="box-forgot" style="{{loginboxBackground}}">
                        <form class="form-forgot">
                            <div class="alert alert-danger" ng-show="err==1">
                                <span>{{Errormsg}}</span>

                            </div>
                            <fieldset>

                                <p style="{{forgotPwdLblColor}}; !important;font-size:12px;">
                                    Forget Password? <br />
                                    Enter your e-mail address below to reset your password.
                                </p>
                                <div class="form-group">
                                    <span class="input-icon">
                                        <input type="email" class="form-control" ng-model="email" name="email" placeholder="Email" tabindex="1" style="{{loginBoxStyle.loginInputStyle}}">
                                        <i class="fa fa-envelope-o"></i>
                                    </span>
                                </div>
                                <br />
                                <div class="form-actions">
                                    <a class="{{loginBtnClass}}" ng-click="navigateToLogin()" tabindex="3">
                                        <i class="fa fa-chevron-circle-left"></i> Login
                                    </a>
                                    <button type="button" class="{{submitBtnClass}}" ng-click="submitForgotPasswordRequest()" tabindex="2">
                                        Submit <i class="fa fa-arrow-circle-right"></i>
                                    </button>
                                </div>
                            </fieldset>
                        </form>

                        <!-- start: COPYRIGHT -->
                        <div class="copyright" style="{{forgotPwdLblColor}} !important;font-size:12px;">
                            <!--{{app.year}} &copy; {{ app.name }} by {{ app.author }}.-->
                            &copy; 2015-{{copyRightYear}} <a onmouseover='this.style.color = "$scope.loginBoxStyle.colorOrd"'
                                                             onmouseout='this.style.color="$scope.loginBoxStyle.colorOrd"' href="http://www.leftfieldservices.com" target="_blank" style="text-decoration:none;{{forgotPwdLblColor}}">{{'pages.login.companytitle' | translate }}{{'pages.login.allrightsreserved' | translate }}
                        </div>
                        <!-- end: COPYRIGHT -->


                    </div>
                    <!-- end: FORGOT BOX -->
                </div>
            </div>
            <style type="text/css">
            body {
                /*background: url("/TAS.Web/STANDARD/assets/images/new_LoginBg.jpg") no-repeat #4e6c86;*/
                background: url("{{image}}") no-repeat #4e6c86;
                height: 100%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }

                .main-login .box-login, .main-login .box-forgot, .main-login .box-register {
                    background: rgba(228,228,228,0.28);
                    border: solid rgba(255,255,255,0.19) 1px;
                    margin: 15px 0 0px;

                    padding-left: 0px;
                    padding-right: 0px;
                    padding-top: 15px;
                    padding-bottom: 15px;
                }

                .main-login {
                    margin-top: 5%;

                }


                .form-group {
                    margin-bottom: -20px !important;
                }

                .logo-out-of-login-box {
                    margin-left: 60px;
                }

                fieldset {
                    border-radius: 5px;
                    margin: 10px 0 10px 0;
                    padding: 25px 15px 0px 15px;
                    position: relative;
                }

                .main-login .form-actions {
                    margin-top: 15px;
                    padding-top: 48px;
                    display: block;
                }

            </style>
        </div>
        <!-- end: FORGOT -->
    </div>