

<div style="margin-left: 30px; margin-right: 30px" ng-app="clip-two" ng-controller="ManufacturerManagementCtrl as ManufacturerManagementController" ng-init="loadInitailData()">
    <style>
        .my-form {
            -webkit-transition: all linear 0.5s;
            transition: all linear 0.5s;
            background: transparent;
        }
     
        .fixed-height {
            height: 250px;
        }
        .ScrollHeight {
            max-height: 75px;
            /*border: 1px solid red;*/
            overflow: auto;
        }
        .has-error {
            border: solid 1px #e84e4e !important;
            /*#fbaa2b*/
        }

        .error {
            color: red;
        }
    </style>
    <section id="page-title">
        <div class="row">
            <div class="col-sm-8">
                <h1 class="mainTitle TitleModifier">{{'pages.manufacturerManagement.title' | translate}}</h1>
                <span class="mainDescription TitleModifier">{{'pages.manufacturerManagement.mainDescription' | translate}}</span>
                <!--<span class="mainDescription TitleModifier">You can add or update Manufacturer information here. Select new to add or select existing information to update on each section.</span>-->
            </div>
        </div>
    </section>
    <div ng-form="myForm" class="my-form">
        <div class="col-md-12">
            <div class="alert alert-danger" ng-show="errorTab1!=''">
                {{errorTab1}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">
                        {{'pages.manufacturerManagement.commodityType' | translate}} <span class="symbol required"></span>
                    </label>
                    <select class="form-control" ng-model="CommodityTypeId"
                            ng-options="n.CommodityTypeId as n.CommodityTypeDescription  for n in CommodityTypes"
                            ng-change="LoadManufacturers()" tabindex="1" ng-class="validate_CommodityTypeId"
                            required>
                        <option value=""> {{'pages.manufacturerManagement.pleaseSelect' | translate}} </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">
                        {{'pages.manufacturerManagement.manufacturer' | translate}}
                    </label>
                    <select class="form-control" ng-model="Manufacturer.Id" name="Id"
                            ng-options="n.Id as n.ManufacturerName for n in Manufactures"
                            ng-change="SetManufacturerValues()" tabindex="2">
                        <option value=""> &lt;&lt; {{'pages.manufacturerManagement.new' | translate}} &gt;&gt; </option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">
                        {{'pages.manufacturerManagement.manufacturerName' | translate}} <span class="symbol required"></span>
                    </label>
                    <!--<span class="error" ng-show="myForm.ManufacturerName.$error.required">*</span>-->
                    <input type="text" class="form-control" placeholder="{{'pages.manufacturerManagement.manufacturerName' | translate}}" 
                           ng-model="Manufacturer.ManufacturerName" ng-class="validate_ManufacturerName" name="ManufacturerName"
                           id="ManufacturerName" tabindex="3" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">
                        {{'pages.manufacturerManagement.manufacturerCode' | translate}} <span class="symbol required"></span>
                    </label>
                    <!--<span class="error" ng-show="myForm.ManufacturerCode.$error.required">*</span>-->
                    <input type="text" class="form-control" placeholder="{{'pages.manufacturerManagement.manufacturerCode' | translate}}" 
                           name="ManufacturerCode" id="ManufacturerCode" ng-class="validate_ManufacturerCode" 
                           ng-model="Manufacturer.ManufacturerCode" tabindex="4" required>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="control-label">
                        {{'pages.manufacturerManagement.commodityTypes' | translate}} <span class="symbol required"></span>
                    </label>
                    <!--<span class="error" ng-show="Manufacturer.ComodityTypes.length==0">*</span>-->
                    <div ng-dropdown-multiselect="" translation-texts="CustomText" options="CommodityTypeList" name="CommodityType" tabindex="5"
                         events="{ onItemSelect: SendCommodityType,onItemDeselect:SendCommodityType}" ng-class="validate_ComodityTypes"
                         selected-model="SelectedCommodityTypeList" extra-settings="settings">
                    </div>
                    <div class="ScrollHeight">
                        <ul>
                            <li ng-repeat="x in SelectedCommodityTypeDList">
                                {{x}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <br />
                    <label class="control-label">
                        {{'pages.manufacturerManagement.warrantyGiven' | translate}}
                    </label>
                    <input id="WarantyGiven" type="checkbox" ng-model="Manufacturer.IsWarrentyGiven" tabindex="6">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <br />
                    <label class="control-label">
                        {{'pages.manufacturerManagement.active' | translate}}
                    </label>
                    <input id="IsActive" type="checkbox" ng-model="Manufacturer.IsActive" tabindex="7">
                </div>
            </div>
            <div class="col-md-9"></div>
            <div class="col-md-3">
                <br />
                <!--<input type="button" class="btn btn-primary  btn-block" ng-click="ManufacturerSubmit()" ng-value="Manufacturer.Id=='00000000-0000-0000-0000-000000000000' ? 'Save':'Update'" />-->
                <button class="btn btn-primary  btn-block" ng-disabled="ManufacturerSubmitBtnDisabled" ng-click="ManufacturerSubmit()" tabindex="8">
                    <!--{{Manufacturer.Id=='00000000-0000-0000-0000-000000000000' ? 'Save':'Update'}}-->
                    {{labelSave | translate}}<i ng-class="ManufacturerSubmitBtnIconClass"></i>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="fixed-height"></div>
        </div>
    </div>
</div>
