
<script>
    //$("#next").live('click',function () {
    //        //alert('a');
    //        //$("#wz-2").addClass('active');
    //        //$("#step-1").hide();
    //        //$("#step-2").show();
    //        //$('#basicModal').modal('hide');

    //        //$(".modal-backdrop").hide();
    //        alert('a');
    //        location.hash = "home_premium_display/login";
           
    //        return false;
    //    })

    //function returnToHome() {
    //    alert('a');
    //    location.hash = "home_premium_display/login";

    //         return false;
    //}
    </script>
<hr />

<div class="row">
    <div class="col-md-12">

        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-external-link-square"></i>Premium Details
                <div class="panel-tools">
                    <a class="btn btn-xs btn-link panel-collapse collapses" href="#"></a>
                </div>
            </div>
            <div class="panel-body">
                <p>
                    <b>Customer Section</b> - Provide Customer Details.
                </p>
                <hr>
                <form action="#" role="form" id="form">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">
                                    Age <span class="symbol required"></span>
                                </label>
                                <input type="text" placeholder="Insert your Age" class="form-control" id="firstname"
                                       name="firstname">
                            </div>
                            <div class="form-group">
                                <label class="control-label">
                                    Gender <span class="symbol required"></span>
                                </label>
                                <input type="text" placeholder="" class="form-control" id="lastname"
                                       name="lastname">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">
                                    Driving Experience<span class="symbol required"></span>
                                </label>
                                <input type="email" placeholder="" class="form-control" id="email" name="email">
                            </div>
                            <div class="form-group">
                                <label class="control-label">
                                    Country <span class="symbol required"></span>
                                </label>
                                <input class="form-control" type="text" name="zipcode" id="zipcode">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div>
                                <span class="symbol required"></span>Required Fields
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="panel-body">
                <p>
                    <b>Vehicle</b> - Provide Commodity Details.
                </p>
                <hr>
                <form action="#" role="form" id="form1">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">
                                    Dealer <span class="symbol required"></span>
                                </label>
                                <select name="dd" id="dd" class="form-control">
                                    <option value="">Select Dealer</option>
                                    <option value="01">dealer 1</option>
                                    <option value="02">dealer 2</option>
                                    <option value="03">dealer 3</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="control-label">
                                    Make <span class="symbol required"></span>
                                </label>
                                <input type="text" placeholder="e" class="form-control" id="Text2"
                                       name="lastname">
                            </div>
                            <div class="form-group">
                                <label class="control-label">
                                    Model <span class="symbol required"></span>
                                </label>
                                <input type="text" placeholder="" class="form-control" id="Text4"
                                       name="lastname">
                            </div>
                            <div class="form-group">
                                <label class="control-label">
                                    Cylinder <span class="symbol required"></span>
                                </label>
                                <input type="text" placeholder="" class="form-control" id="Text5"
                                       name="lastname">
                            </div>
                            <div class="form-group">
                                <label class="control-label">
                                    Engine Capacity <span class="symbol required"></span>
                                </label>
                                <input type="text" placeholder="" class="form-control" id="Text6"
                                       name="lastname">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">
                                    Model Series <span class="symbol required"></span>
                                </label>
                                <input type="email" placeholder="Text Field" class="form-control" id="email1" name="email">
                            </div>
                            <div class="form-group">
                                <label class="control-label">
                                    Fuel Type<span class="symbol required"></span>
                                </label>
                                <input class="form-control" type="text" name="zipcode" id="Text3">
                            </div>
                            <div class="form-group">
                                <label class="control-label">
                                    Body Type<span class="symbol required"></span>
                                </label>
                                <input class="form-control" type="text" name="zipcode" id="Text7">
                            </div>
                            <div class="form-group">
                                <label class="control-label">
                                    Vehicle Type<span class="symbol required"></span>
                                </label>
                                <select name="mm" id="mm" class="form-control">
                                    <option value="">Select vehicle type</option>
                                    <option value="01">BMW</option>
                                    <option value="02">Benze</option>
                                    <option value="03">Chaverlot</option>
                                    <option value="04">Duster</option>
                                    <option value="05">Ford</option>
                                    <option value="06">Geely</option>
                                    <option value="07">Honda</option>
                                    <option value="08">Toyota</option>
                                    <option value="09">Nishan</option>
                                    <option value="10">VoxWagan</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div>
                                <span class="symbol required"></span>Required Fields
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="panel-body">
                <p>
                  <!--  <b>BW</b> - Provide Commodity Details.-->
                </p>
                <hr>
                <form action="#" role="form" id="form2">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">
                                    Dealer <span class="symbol required"></span>
                                </label>
                                <input type="text" placeholder="" class="form-control" id="Text8"
                                       name="firstname">
                            </div>
                            <div class="form-group">
                                <label class="control-label">
                                    Make <span class="symbol required"></span>
                                </label>
                                <input type="text" placeholder="" class="form-control" id="Text9"
                                       name="lastname">
                            </div>
                            <div class="form-group">
                                <label class="control-label">
                                    Model <span class="symbol required"></span>
                                </label>
                                <input type="text" placeholder="" class="form-control" id="Text10"
                                       name="lastname">
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right">


                                <a href="return false;" class="btn btn-warning"
                                   data-toggle="modal"
                                   data-target="#basicModal">Calculate Premium</a>


                                <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">


                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times;</button>
                                                <h4 class="modal-title" id="myModalLabel">Select Your Package</h4>
                                            </div>
                                            <div class="modal-body">
                                                <div id="pricing_table_example2" class="row">
                                                    <div class="col-sm-12">
                                                        <div class="pricing-table col-sm-4 col-xs-12">
                                                            <div class="top">
                                                                <h2>
                                                                    Silver
                                                                </h2>
                                                            </div>
                                                            <hr>
                                                            <h1>
                                                                <sup>$</sup>325
                                                            </h1>
                                                            <p>
                                                                per year
                                                            </p>
                                                            <a class="btn btn-bricky">Sign Up </a>
                                                        </div>
                                                        <div class="pricing-table featured col-sm-4 col-xs-12">
                                                            <div class="top">
                                                                <h2>
                                                                    Gold
                                                                </h2>
                                                            </div>
                                                            <hr>
                                                            <h1>
                                                                <sup>$</sup>549
                                                            </h1>
                                                            <p>
                                                                per year
                                                            </p>
                                                            <input type="button" class="btn btn-bricky" value="Sign Up"/>
                                                        </div>
                                                        <div class="pricing-table col-sm-4 col-xs-12">
                                                            <div class="top">
                                                                <h2>
                                                                    Platinum
                                                                </h2>
                                                            </div>
                                                            <hr>
                                                            <h1>
                                                                <sup>$</sup>879
                                                            </h1>
                                                            <p>
                                                                per year
                                                            </p>
                                                            <input type="button" onclick="location.href = '/index.html#/home_premium_display/login'; document.getElementsByClassName('modal-backdrop')[0].style.display = 'none'; " class="btn btn-bricky" value="Sign Up">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>