<div ng-app="clip-two" ng-controller="TpaCtrl as tpaController" ng-init="loadExistingTPAs(); SetTpa();">
    <!--<form name="myForm">-->
    <div name="myForm" class="my-form">
        <!-- start: PAGE TITLE -->
        <section id="page-title">
            <div class="row">
                <div class="col-sm-8">
                    <h1 class="mainTitle TitleModifier">{{'pages.tpaManagement.title' | translate }}</h1>
                    <!--<span class="mainDescription TitleModifier">You can update a TPA. Select existing TPA to update.</span>-->
                    <span class="mainDescription TitleModifier">{{'pages.tpaManagement.mainDescription' | translate }}</span>
                </div>
                <!--<div ncy-breadcrumb></div>-->
            </div>
        </section>
        <!-- end: PAGE TITLE -->

        <div class="row" style="margin-left: 3px; margin-right: 3px; margin-top: 5px; margin-bottom: 15px">
            <div class="col-md-6 ">
                <div class=" form-group" ng-show="false">
                    <label class="control-label">
                        {{'pages.tpaManagement.TPA' | translate }}
                    </label>
                    <select class="form-control  input-sm" ng-model="tpa.Id"
                            ng-options="n.Id as n.OriginalTPAName for n in tpas"
                            ng-change="SetTpa()"></select>
                </div>

                <div class="form-group">
                    <label class="control-label">
                        {{'pages.tpaManagement.Name' | translate }}
                    </label><span class="error" ng-show="myForm.firstname.$error.required">*</span>
                    <input type="text" class="form-control input-sm" id="firstname" name="firstname" ng-model="tpa.Name" ng-disabled="true" required>
                </div>

                <div class="form-group">
                    <label class="control-label">
                        {{'pages.tpaManagement.Description' | translate }}
                    </label>
                    <textarea class="form-control input-sm" ng-model="tpa.DiscountDescription" tabindex="2"></textarea>
                </div>
            </div>
            <div class="col-md-6">

                <div class="form-group">
                    <label class="control-label">
                        {{'pages.tpaManagement.TelephoneNumber' | translate }}
                    </label><span class="error" ng-show="myForm.Telephone.$error.required">*</span>
                    <input type="text" class="form-control input-sm" id="Telephone" name="Telephone" tabindex="1" ng-model="tpa.TelNumber" maxlength="15">
                </div>


                <div class="form-group">
                    <label class="control-label">
                        {{'pages.tpaManagement.Address' | translate }}
                    </label>
                    <textarea style="resize:none" class="form-control input-sm input-sm" ng-model="tpa.Address" tabindex="3"></textarea>
                </div>

            </div>

            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label">
                        {{'pages.tpaManagement.TPACode' | translate }}
                    </label><span class="error" ng-show="myForm.firstname.$error.required">*</span>
                    <input style="width: 49%"  type="text" class="form-control input-sm" id="tpaCode" name="tpaCode" ng-model="tpa.tpaCode"maxlength="20">
                </div>
             </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">
                            {{'pages.tpaManagement.PublicURL' | translate }}
                        </label><a href="{{publicLink}}">
                            <!--<textarea class="form-control input-sm" ng-model="tpa.Address"></textarea>-->
                            <span class="form-control input-sm" style="background-color: #f5f5f5;color:#020fa5">{{publicLink}}</span>
                        </a>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">
                            {{'pages.tpaManagement.AdminSigninURL' | translate }}
                        </label><a href="{{StaffSigninLink}}">
                            <!--<textarea class="form-control input-sm" ng-model="tpa.Address"></textarea>-->
                            <span class="form-control input-sm" style="background-color: #f5f5f5; color: #020fa5">{{StaffSigninLink}}</span>
                        </a>
                    </div>
                </div>
            </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <button id="btns" class="addfiles" ng-click="selectFile('fileupload')">
                        <label class="control-label">
                            {{'pages.tpaManagement.Logo' | translate }}
                        </label>
                    </button>
                    <label id="fileLabel">{{selectedFile1}}</label>

                    <img ng-src="data:image/JPEG;base64,{{tpa.logoByte}}" class=" img-responsive" alt="tpa logo" ng-show="isShowing(tpa.Logo)" />
                    <input type="file" ng-model="tpa.Logo" id="fileupload" uploader="uploaderLogo" nv-file-select="" tabindex="4" style='display: none;'  />

                </div>

                <div class="form-group">
                    <label class="control-label">
                        {{'pages.tpaManagement.Banners1' | translate }}
                    </label>
                    <!--  <input type="button" class="btn btn-xs btn-info" ng-disabled="(tpa.Banner)=='00000000-0000-0000-0000-000000000000' || (tpa.Banner)=='' " value="show" ng-click="showBanner()" />-->
                    <img ng-src="data:image/JPEG;base64,{{tpa.bannerByte}}" class=" img-responsive" ng-show="isShowing(tpa.Banner)" alt="Uploaded" />
                    <input type="file" ng-model="tpa.Banner" uploader="uploader1" nv-file-select=""  tabindex="5" />
                </div>

                <div class="form-group">
                    <label class="control-label">
                        {{'pages.tpaManagement.Banners2' | translate }}
                    </label>
                    <!--  <input type="button" class="btn btn-xs btn-info" ng-disabled="(tpa.Banner)=='00000000-0000-0000-0000-000000000000' || (tpa.Banner)=='' " value="show" ng-click="showBanner()" />-->
                    <img ng-src="data:image/JPEG;base64,{{tpa.bannerByte2}}" class=" img-responsive" ng-show="isShowing(tpa.Banner2)" alt="Uploaded" />
                    <input type="file" ng-model="tpa.Banner2"   uploader="uploader2" nv-file-select="" tabindex="6" />
                </div>

                <div class="form-group">
                    <label class="control-label">
                        {{'pages.tpaManagement.Banners3' | translate }}
                    </label>
                    <!--  <input type="button" class="btn btn-xs btn-info" ng-disabled="(tpa.Banner)=='00000000-0000-0000-0000-000000000000' || (tpa.Banner)=='' " value="show" ng-click="showBanner()" />-->
                    <img ng-src="data:image/JPEG;base64,{{tpa.bannerByte3}}" class=" img-responsive" ng-show="isShowing(tpa.Banner3)" alt="Uploaded" />
                    <input type="file" ng-model="tpa.Banner3" uploader="uploader3" nv-file-select="" tabindex="7" />
                </div>

                <div class="form-group">
                    <label class="control-label">
                        {{'pages.tpaManagement.Banners4' | translate }}
                    </label>
                    <!--  <input type="button" class="btn btn-xs btn-info" ng-disabled="(tpa.Banner)=='00000000-0000-0000-0000-000000000000' || (tpa.Banner)=='' " value="show" ng-click="showBanner()" />-->
                    <img ng-src="data:image/JPEG;base64,{{tpa.bannerByte4}}" class=" img-responsive" ng-show="isShowing(tpa.Banner4)" alt="Uploaded" />
                    <input type="file" ng-model="tpa.Banner4" uploader="uploader4" nv-file-select="" tabindex="8" />
                </div>

                <div class="form-group">
                    <label class="control-label">
                        {{'pages.tpaManagement.Banners5' | translate }}
                    </label>
                    <!--  <input type="button" class="btn btn-xs btn-info" ng-disabled="(tpa.Banner)=='00000000-0000-0000-0000-000000000000' || (tpa.Banner)=='' " value="show" ng-click="showBanner()" />-->
                    <img ng-src="data:image/JPEG;base64,{{tpa.bannerByte5}}" class=" img-responsive" ng-show="isShowing(tpa.Banner5)" alt="Uploaded" />
                    <input type="file" ng-model="tpa.Banner5" uploader="uploader5" nv-file-select="" tabindex="9" />
                </div>


                <!--<input type="button" class="btn btn-primary pull-right" ng-click="saveOrUpdateTpa()" ng-value="(!tpa.Id) ? 'Save':'Update'" />-->
                <button class="btn btn-primary pull-right" ng-disabled="saveOrUpdateBtnDisabled" ng-click="saveOrUpdateTpa()" tabindex="10">
                    <!--{{(!tpa.Id) ? 'Save':'Update'}} <i ng-class="saveOrUpdateBtnIconClass"></i>-->
                    {{labelSave | translate }} <i ng-class="saveOrUpdateBtnIconClass"></i>
                </button>
            </div>

        </div>

        <!--</form>-->
        </div>
    </div>

